src/main/mule/create-jira-task.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule 
    xmlns:jira="http://www.mulesoft.org/schema/mule/jira"
    xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
    xmlns="http://www.mulesoft.org/schema/mule/core"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:http="http://www.mulesoft.org/schema/mule/http"
    xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xsi:schemaLocation="
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule-core.xsd
        http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
        http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/jira http://www.mulesoft.org/schema/mule/jira/current/mule-jira.xsd">

    
    <http:listener-config name="HTTP_Listener_Config">
        <http:listener-connection host="0.0.0.0" port="8081"/>
    </http:listener-config>

    <http:request-config name="Jira_Request_Config">
        <http:request-connection protocol="HTTPS" host="your-domain.atlassian.net" port="443">
            <http:authentication>
                <http:basic-authentication 
                    username="${jira.username}" 
                    password="${jira.token}"/>
            </http:authentication>
        </http:request-connection>
    </http:request-config>


    <jira:config name="Jira_Connector_Config" doc:name="Jira Connector Config" doc:id="db9fcf79-7b3a-4d44-bed0-891b767e8d7e" >
		<jira:basic-auth-connection username="${jira.username}" password="${jira.token}" baseUri="${jira.baseUrl}"/>
	</jira:config>
	<flow name="createJiraTaskFlow">

        <http:listener 
            doc:name="POST /createJiraTask"
            config-ref="HTTP_Listener_Config"
            path="/api/v1/createJiraTask"/>

        <logger 
            level="INFO"
            message="Creating Jira Task. Incoming Payload: #[payload]"/>


        <ee:transform doc:name="Transform Message" doc:id="f56657b9-c509-4103-b608-2d003b530812" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
import * from dw::System
output application/json
var opp = payload
---
{
                fields: {
                    project: {
                        key: "SCRUM"
                    },
                    summary: opp.Name,
                    "description": {
					      "type": "doc",
					      "version": 1,
					      "content": [
					        {
					          "type": "paragraph",
					          "content": [
					            {
					              "type": "text",
					              "text": opp.Description default ("Job Request " ++ opp.Name),
					            }
					          ]
					        }
					      ]
					    },
                    issuetype: {
                        name: "Task"
                    },
                    duedate: opp.CloseDate,
                    assignee: {
				 	    emailAddress: opp.OwnerEmail
    				},
				    customfield_10105: opp.Id,
				    customfield_10106: opp.StageName,
				    customfield_10107: opp.AccountName,
				    customfield_10108: opp.Amount as Number,
				    customfield_10109: opp.Type
                }
}]]></ee:set-payload>
			</ee:message>
		</ee:transform>   
              
        <logger level="INFO" doc:name="Logger" doc:id="c5fdbb5c-3287-41a3-a373-27f70a4e1c59" message="#[payload]"/>
		<jira:create-rest-api3-issue doc:name="Create Issue" doc:id="76d62e27-b403-439c-b89b-9e077fae9602" config-ref="Jira_Connector_Config"/>
        
		<logger 
            level="INFO" 
            message="Jira Response: #[payload]"/>

    </flow>

</mule>