src/main/mule/listen-jira-attach-document.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule xmlns:jira="http://www.mulesoft.org/schema/mule/jira"
	xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns="http://www.mulesoft.org/schema/mule/core"
	xmlns:doc="http://www.mulesoft.org/schema/mule/documentation"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="
http://www.mulesoft.org/schema/mule/jira http://www.mulesoft.org/schema/mule/jira/current/mule-jira.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd 
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd 
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd">
	
	<flow name="jira-attachment-to-sf-flow">
		
        
       	<http:listener doc:name="Jira Attachment Webhook Listener" config-ref="HTTP_Listener_Config" 
			path="${http.attachment.listener.path}">
            <http:response statusCode="#[200]"/>
		</http:listener>
        
        <choice doc:name="Attachment Validation" doc:id="9bb092dc-97f4-4232-bb81-4cb4606385c4" >
            <when expression="#[payload.webhookEvent == 'attachment_created' and attributes.queryParams.issueId != null and payload.attachment.id != null]">
                
                <set-variable value="#[attributes.queryParams.issueId]" doc:name="Set Jira Issue ID" variableName="jiraIssueId" />
                <set-variable value="#[payload.attachment.filename]" doc:name="Set File Name" variableName="fileName" />
                <set-variable value="#[payload.attachment.id]" doc:name="Set Attachment Content Id" variableName="attachmentContentUrl" />
                <set-variable value="#[payload.attachment.mimeType]" doc:name="Set Mime Type" variableName="mimeType" />
                
                <logger level="INFO" doc:name="Log Webhook" message="Received attachment webhook for file: #[payload.attachment.filename], Attachment ID: #[payload.attachment.id], Issue ID: #[attributes.queryParams.issueId], MimeType: #[payload.attachment.mimeType]" />
				<jira:get-rest-api3-issue-by-issue-id-or-key doc:name="Get Issue" doc:id="849385f0-087e-4ede-80cd-3a12b28dacb9" issueIdOrKey="#[vars.jiraIssueId as String]" config-ref="Jira_Connector_Config"/>
				
				<ee:transform doc:name="Normalize Jira Query Result" doc:id="0fccc53f-38a6-46b5-8b1a-1ef17d162f34">
				    <ee:message>
				        <ee:set-payload><![CDATA[%dw 2.0
				            output application/java
				            ---
				            issueKey: payload.key as String
				        ]]></ee:set-payload>
				    </ee:message>
				</ee:transform>
				
				<logger level="INFO" doc:name="Log Jira Issue Search" message="Jira issue search: #[payload], mimeType: #[vars.mimeType]"></logger>
				
				<set-variable value="#[payload.issueKey]" doc:name="Set Jira Task Key" variableName="jiraIssueKey" />
                
                <logger level="INFO" doc:name="Log Jira Issue Search" message="Jira issue search: #[vars.jiraIssueKey]"></logger>
               
                <salesforce:query doc:name="Query Opportunity ID" config-ref="Salesforce_Config">
                    <salesforce:salesforce-query><![CDATA[SELECT Id FROM Opportunity WHERE Jira_Key__c = ':jiraKey']]>
					</salesforce:salesforce-query>
					<salesforce:parameters ><![CDATA[#[output application/java
---
{
	"jiraKey" : vars.jiraIssueKey
}]]]></salesforce:parameters>
                </salesforce:query>
                
                <ee:transform doc:name="Normalize Query Result" doc:id="16e6ea34-56bc-4d69-8f3e-cddcb0750a93">
				    <ee:message>
				        <ee:set-payload><![CDATA[%dw 2.0
				            output application/java
				            ---
				            // If the result is an empty array, return a known, safe structure 
				            // (e.g., an empty array again), otherwise return the payload.
				            if (payload == null or sizeOf(payload) == 0) [] else payload
				        ]]></ee:set-payload>
				    </ee:message>
				</ee:transform>

				<logger level="INFO" doc:name="Log SF Opportunity Search" message="Salesforce Opportunity Search response #[payload]"></logger>
				
				<choice doc:name="Opportunity Found Check">
                    <when expression="#[sizeOf(payload default []) &gt; 0]">
                        <set-variable value="#[payload[0].Id]" doc:name="Set Opportunity ID" variableName="opportunityId" />
                        
                        
                        <http:request doc:name="Download Attachment Data" config-ref="Jira_Attachmen_HTTP_Request_Configuration" 
                            path="#[vars.attachmentContentUrl]" method="GET" outputMimeType="application/octet-stream">
                            	<http:headers><![CDATA[#[{'Accept': '*/*'}]]]>
                            	</http:headers>
                        </http:request>
                        
						<ee:transform doc:name="Prepare ContentVersion Payload">
                            <ee:message>
                                <ee:set-payload><![CDATA[%dw 2.0
import * from dw::core::Binaries

output application/java
---
[{
    "VersionData": toBase64(payload),
    "Title": vars.fileName,
    "PathOnClient": vars.fileName,
    "FirstPublishLocationId": null
}]]]></ee:set-payload>
                            </ee:message>
                        </ee:transform>
                        
                        <salesforce:create doc:name="Create ContentVersion" config-ref="Salesforce_Config" target="cvResult" type="ContentVersion"/>
						<ee:transform doc:name="Transform Message" doc:id="00ee9c40-a78c-4c68-abd7-b038f6a9eb30">
							<ee:message>
								<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
vars.cvResult.items[0].id]]></ee:set-payload>
							</ee:message>
						</ee:transform>
						<logger level="INFO" doc:name="Log CV Creation" message="ContentVersion created. ContentDocumentId: #[payload]" />
                        
                        <salesforce:query doc:name="Query" doc:id="bbf3adef-a908-4159-bf2f-20d2ebe3221b" config-ref="Salesforce_Config">
							<salesforce:salesforce-query ><![CDATA[SELECT ContentDocumentId FROM ContentVersion WHERE Id = ':cvId']]></salesforce:salesforce-query>
							<salesforce:parameters ><![CDATA[#[output application/java
---
{
	"cvId" : payload
}]]]></salesforce:parameters>
						</salesforce:query>
						<ee:transform doc:name="Transform Message" doc:id="3dd26e0e-188a-4d28-80ce-adeb3562b397">
							<ee:message>
								<ee:set-payload><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
							</ee:message>
						</ee:transform>
						<logger level="INFO" doc:name="Logger" doc:id="3baf24b6-430c-4fa1-8f47-e2bfead0219c" message="#[payload]"/>
						<ee:transform doc:name="Prepare ContentDocumentLink Payload">
                            <ee:message>
                                <ee:set-payload><![CDATA[%dw 2.0
output application/java
---
[{
	"ContentDocumentId": payload[0].ContentDocumentId,
	"LinkedEntityId": vars.opportunityId, 
	"ShareType": p('salesforce.contentdocumentlink.shareType') 
}]]]></ee:set-payload>
                            </ee:message>
                        </ee:transform>
						<logger level="INFO" doc:name="Log Content Document Version Query Result" doc:id="8b20a5b6-4469-4136-ab94-111a62fb2617" message="#[payload]" />
						<salesforce:create doc:name="Create ContentDocumentLink" config-ref="Salesforce_Config" type="ContentDocumentLink"/>
						<logger level="INFO" doc:name="Log Success" message="Successfully attached file #[vars.fileName] to Opportunity #[vars.opportunityId] #[payload]"/>
                        
                    </when>
                    <otherwise>
                        <logger level="WARN" doc:name="Log No Opportunity" message="No Salesforce Opportunity found for Jira Key: #[vars.jiraTaskKey]"/>
                    </otherwise>
                </choice>
            </when>
            <otherwise>
                <logger level="WARN" doc:name="Log Invalid Webhook" message="Ignored invalid webhook event: #[payload.webhookEvent]"/>
            </otherwise>
        </choice>
	</flow>
</mule>