src/main/mule/listen-jira-issue.xml
<?xml version="1.0" encoding="UTF-8"?>
<mule 
    xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
    xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core"
    xmlns="http://www.mulesoft.org/schema/mule/core"
    xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
    xmlns:http="http://www.mulesoft.org/schema/mule/http"
    xmlns:dw="http://www.mulesoft.org/schema/mule/ee/dw" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xsi:schemaLocation="
        http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule-core.xsd
        http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
        http://www.mulesoft.org/schema/mule/ee/dw http://www.mulesoft.org/schema/mule/ee/dw/current/dw.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd">


	<salesforce:sfdc-config name="Salesforce_Config" doc:name="Salesforce Config" doc:id="c469b59c-e858-45cd-a3ed-cb0682dcdb6d" >
		<salesforce:basic-connection username="${salesforce.username}" password="${salesforce.password}" securityToken="${salesforce.securityToken}" />
	</salesforce:sfdc-config>

    <flow name="listenJiraIssueWebhookFlow">
        <http:listener 
            doc:name="Jira Issue Created Listener" 
            config-ref="HTTP_Listener_Config" 
            path="api/v1/listenToJiraIssueWebhook"/>

        <logger level="INFO" message="Jira Issue webhook received: #[payload]" doc:name="Log webhook payload" />
		<choice doc:name="Is Update Jira Issue" doc:id="c00a1be2-4678-469d-aaf7-f897d001e692" >
			<when expression='#[payload.issue.fields.issuetype.subtask == false and payload.issue_event_type_name == "issue_updated"]'>
				<ee:transform doc:name="Transform Message" doc:id="cff23859-71c9-404e-9ecb-41611a57f8bc">
			<ee:message>
				<ee:set-payload><![CDATA[%dw 2.0
output application/java
var issue = payload.issue
var f = issue.fields
---
[{
    Id: f.customfield_10105,
    Jira_Key__c: issue.key,
    Jira_URL__c: p('jira.issue.base.url') ++ issue.key,

    Name: f.summary,
    Description: f.description,
    StageName: f.status.name,
    CloseDate: (f.duedate as Date),

    Amount: f.customfield_10108 default null,
    Probability: 
        (f.priority.name match { 
        	case "Highest" -> p('jira.probability.highest') 
        	case "High" -> p('jira.probability.high') 
        	case "Medium" -> p('jira.probability.medium') 
        	case "Low" -> p('jira.probability.low')
        	else -> p('jira.probability.default')
        }),


    Assigned_Jira_Email__c: f.assignee.emailAddress default null,
    Last_Jira_Synced__c: now()
}]]]></ee:set-payload>
			</ee:message>
		</ee:transform>
				<logger level="INFO" message="Extracted: #[payload]" doc:name="Log extracted payload to console" />
		<salesforce:update doc:name="Update Opportunity" doc:id="f14f30d2-a292-4446-8579-a9513e2b076c" config-ref="Salesforce_Config_2" type="Opportunity" target="bulk_result"/>
				<ee:transform doc:name="Prepare Upsert Response" >
        <ee:message>
            <ee:set-payload><![CDATA[%dw 2.0
output application/json
---
vars.bulk_result]]>
            </ee:set-payload>
        </ee:message>
    </ee:transform>
			</when>
			<otherwise >
				<logger level="INFO" doc:name="Logger" doc:id="33cbb3fb-56e9-4f91-a200-7a759e47e3c7" message="HANDLE NON SUBTASK ROUTE"/>
			</otherwise>
		</choice>
		<logger level="INFO" doc:name="Logger" doc:id="4a39089e-d6e8-4a7d-b7bb-4852a21f9917" message="After payload: #[payload] "/>

    </flow>

</mule>